<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Quotely</title>
    <link rel="shortcut icon" href="/assets/img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>
<body class="body">
    <nav>
        <div class="navlink">
            <a href="/login">Login</a>
            <a href="/logout">Log out</a>
            <a href="/maker">Creator</a>
            <a href="/viewer">Viewer</a>
        </div>
    </nav>

    <section id="app">
    </section>
    
    <script src="/assets/viewerBundle.js"></script>
</body>
</html>