<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Quotely — 404 Not Found</title>
    <link rel="shortcut icon" href="/assets/img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>
<body>
    <nav>
        <div class="navlink" style="padding:20px; padding-top:25px;">
            <a href="/login">Login</a>
            <a href="/logout">Log out</a>
            <a href="/maker">Creator</a>
            <a href="/viewer">Viewer</a>
        </div>
    </nav>

    <main class="container" role="main" id="content">
        <h1>404 — Page Not Found</h1>
    </main>
</body>
</html>