<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Tweeter</title>
    <!--<link rel="shortcut icon" href="/assets/img/favicon.png" />-->
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>
<body>
    <nav>
        <div class="navlink">
            <a href="/login">Login</a>
            <a href="/logout">Log out</a>
            <a href="/maker">Creator</a>
            <a href="/viewer">Viewer</a>
        </div>
    </nav>

    <section id="app">
    </section>

    <div id="tweetMessage" class='hidden'>
        <img id="speech" src="/assets/img/speech.png" alt="speech box" />
        <h3><span id="errorMessage"></span></h3>
        <!--<img id="domo" src="assets/img/domo.png" alt="domo" /> -->
    </div>
    <script src="/assets/appBundle.js"></script>
</body>
</html>