/*Stuff I added*/
#app {
    padding: 20px;
    gap: 30px;
    align-items: start;
}

.body {
    background-color: #997950;
    font-family: 'Times New Roman';
}

#LRGridMaker, #LRGridViewer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tweet {
    background-color: #622a0f;
    border: 1px solid #555;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    color: white;
}

#tweetForm, #accountForm, #registeredUsers, #quoteFeels {
    background-color: #43270f;
    border: 1px solid #555;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    color: white;
}

.addSpotPremium {
    background-color: #43270f;
    border: 1px solid #555;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.addSpotFree {
    background-color: #ff6fff;
    border: 1px solid #555;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.hidden {
    display: none;
}

#errorMessage {
    display: flex;
    justify-content: center;
    font-size: 1.6em;
    color: black;
    font-weight: 700;
}

nav {
    width: 100%;
    height: 75px;
    background-color: #2b1700;
    display: flex;
    justify-content: center;
}

.navlink {
    padding: 20px;
    padding-top: 25px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    color: red;
}

.navlink a:active {
    color: maroon;
}

.mainForm {
    width: 350px;
    margin: 0 auto;
    margin-top: 350px;
    padding: 25px;
    background-color: #2b1700;
}

    .mainForm label {
        color: white;
        display: inline-block;
        width: 100px;
        margin-right: 10px;
        text-align: right;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    }

/*Refactor or remove
.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    width: 100px;
    border-radius: 1px;
    border-color: black;
    padding: 3px 0px;
    color: white;
    background-color: #2b1700;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: red;
}
*/