#app {
    padding: 20px;
    gap: 30px;
    align-items: start;
}

.body {
    background-color: #997950;
}

#LRGridMaker, #LRGridViewer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#makerRight {
    display: flex;
    justify-content: center;
}

.tweet {
    background-color: #622a0f;
    border: 1px solid #555;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

#tweetForm, #accountForm, #registeredUsers, #quoteFeels {
    background-color: #43270f;
    border: 1px solid #555;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #000;
    color: white;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #2b1700;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    border-radius: 2px;
    border-color: black;
    padding: 3px 0px;
    color: #2b1700;
    text-decoration: none;
}

    .formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
        color: #622a0f;
    }

.formSubmit:hover {
    transition: background-color 0.4s ease;
}

.hidden {
    display: none;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    font-style: italic;
}
